<h2>Post a comment</h2>

<p><%= link_to 'Back to posts', user_post_path(current_user.id, @post.id) %></p>

<%= form_with model: Comment, url: user_post_comments_path(@post.author_id, @post.id) do |f| %>
  
  <div class="field form-group " >
    <%= f.text_area :text, class:"form-control", autofocus: true, placeholder: "Write a comment..." %><br/>
  </div>

  <div class="actions">
    <%= f.submit "Add a comment", class: 'btn btn-secondary' %>
  </div>
  
<% end %>
