<div style='display:flex;gap:24px;margin-bottom:8px'>
  <img src=<%= @user.photo %> style= width:100px;height:100px alt="profile photo"> 
  <span style='border:solid 2px black; padding:14px;display:flex; align-items:center; gap:24px'>     
  <h2>Username: <%= @user.name %></h2> 
  <p>Number of posts: <%= @user.posts.count %></p>
  </span>
</div>